footer
    #kontakt
        div
            h1 Kontakt uppgifter
            p address
            p gatunumer
            p något mera
            h3 tel:
            p 070-000 11 33
            h5 teltider
            p.tider mån-lör 8-18
            p.tider sön stängt
    #message
        h1 Skicka ett medelande
        form(method="post" action="formmail.php")
            label(for="email") från
            br
            input(type="text" name="email" placeholder="test@yahoo.com")
            br
            label(for="subject") ämne
            br
            input(type="text" name="subject") 
            br
            textarea(name="message", cols="50", rows="7")
            br
            button(type="submit") skicka
    p#copy ©philip johansson