header 
    #logo
        a(href="index.html")
            img
    #stars
        ul
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/starEmpty.png")
    ul
        li: a(href="#") Mat
        li: a(href="#") Event
        li: a(href="#") Hyra Utrustning
        li: a(href="#") Om oss