doctype html
html(leng=sv)
    head
        title catering
        link(rel="stylesheet" href="style.css")
    body
        // header element inehåller en meny samt logo bild
        header 
            #logo
            #stars
            ul
                li 
                    a Mat
                li
                    a Event
                li
                    a Hyra Utrustning
                li 
                    a Om oss
        // image är ett bild spel
        #image
            h1 image
        // main inehåller allt sidans inehål
        main
            h1 main 
        // footer inehåler kontakt uppgifter och ett mail formolär
        footer
            h1 footre