//samma för alla
main {

    //bilder med label på
    .display {
        position: relative;
        color: black;
        
        img {
            box-shadow: 0px 0px 10px grey;
        }

        &:hover {

            transform: scale(1.2);

        }

    }

    .textDisplay {
        display: flex;
        height: 25px;
        width: 100px;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 75%;
    }

}

//huvud sidan
#mainHome {
    grid-area: "main";
    display: grid;
    grid-template-rows: 220px 200px 400px;
    grid-template-areas: "valkomen"
                         "Dbuffes"
                         "event";
    
    #valkomen {
        grid-area: "valkomen";
        display: flex;
        justify-content: space-around;
        //välkoms texten
        #valkomenInfo {
            width: 300px;
            padding: 30px;
            padding-left: 60px;
            float: left;

            h1 {
                margin-bottom: 10px;
            }

            p {
                margin-left: 10px;
            }

        }
        //välkoms bilden 
        img {
            width: 640px;
            height: 180px;
            float: right;
            margin: 20px;
            box-shadow: 0px 0px 10px grey;
        }

    }
    //buffe priviu
    #DifrentBuffes {
        grid-area: "Dbuffes";
        display: flex;
        justify-content: space-around;
        padding: 20px;
        padding: 0;
        margin: 0;
    }


    #PartyInfo {
        grid-area: "event";
        display: flex;
        justify-content: space-around;

        padding-top: 40px;

        #Info {
            width: 50%;
            padding: 10px;
            
            p {
                padding: 10px;                        
            }

        }

    }

}

// mat sida
#mainMat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 20px;
    grid-template-areas:    ". . ."
                            "MenyBuffer MenyRätter MenyDrinks"
                            ". . .";

    label {
        font-size: 16px;
    }

    //samma för alla menyer
    .Meny {
        display: flex;
        justify-content: space-around;

        h1 {
            text-align: center;
        }
    }

    .menyItem {
        padding-top: 50px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        text-align: left;
        position: relative;
        justify-content: left;
        border-left: solid 1px;
        
        .textDisplay {
            top: 10px;
        }

        p {
            font-size: 16px;
            padding: 4px 0 4px 0;
        }

        h5 {
            padding-top: 5px;
            font-size: 18px;
        }

        button {
            margin: 0;
            padding: 4px;
            font-weight: bold;

            &:active {
                transform: scale(1.2);
            }
            &:focus {
                outline: 0;
            }
        }

    }

    //meny med buffer
    #MenyBuffer {
        grid-area: MenyBuffer;

        input[type=number] {
            width: 25px;
        }

    }

    #MenyRatter {
        grid-area: MenyRätter;

        border: solid 1px;

    }

    #MenyDrinks {
        grid-area: MenyDrinks;

        border: solid 1px;

    }

}

#mainOrder {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;

    div {

        //display: inline-block;
        border: solid 1px;
        padding: 20px;

        table {
            border-collapse: collapse;
            
            caption {
                text-align: left;
                font-size: 20px;
                font-weight: 700;
                padding: 10px;
            }
        
            th {
                text-align: left;
                border-bottom: solid 1px gray;
            }
        
            tfoot td {
                text-align: left;
                border-bottom: solid 1px gray;
                border-top: solid 1px gray;
            }

            td button {
                border: none;
                outline: 0;

                img {

                    &:hover {
                        transform: scale(1.2);
                    }

                    &:active {
                        transform: scale(1.6);
                    }

                }

            }
        
            .Summa {
                text-align: right;
                width: 100px;
            }
        
            .Pris {
                width: 50px
            }
        
            .Antal {
                width: 50px;
            }
        
            .Vara {
                width: 200px;
            }
    
        }

        #infoAboutBuyer {

            margin-top: 30px;
            border: solid 1px;

        }

        #betala {
            margin-top: 20px;
            padding: 10px;
            border-color: black;

            legend {
                text-decoration: underline;
            }

            form {
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    justify-content: center;
                    padding: 3px;
                    border: none;
                }

                input {

                    &[type="number"] {
                        width: 15px;
    
                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            outline: 0;
                        }
    
                    }

                    &[name="CSC"] {
                        width: 22px;
                        overflow: hidden;
                    }   
    
                }
                button {
                    border: none;
                    background: none;
                    outline: 0;

                    &:active {
                        transform: scale(1.5);
                    }

                }
    
            }
        }

    }

}
