//sätter pading/ margin till 0 på alla element
* {
    padding: 0;
    margin: 0;
}
html {

    body {
        width: 100%;
        
        margin: auto;

        //jag använder grid för att placera ut alla object
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70px 180px 1fr 320px;
        grid-template-areas: "header"
                             "image"
                             "main"
                             "footer";

        //headern
        header {
            grid-area: "header";
            display: grid;
            grid-template-rows: 70px;
            grid-template-columns: 70px 225px 1fr 300px;
            grid-template-areas: "logo stars . meny";
            position: sticky;
            z-index: 10; //hedaren ska alltid var överst
            top: 0;
            background-color: white;

            #logo {
                grid-area: logo;
                
                img {
                    margin: 10px;
                    width: 50px;
                    height: 50px;
                    border: solid 1px black;
                }
            }

            #stars {
                grid-area: stars;
                width: 225px;
                height: 30px;
                margin: 10px 0 10px 0;
                
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li {

                        float: left;
                        padding: 0;
                        margin: 0;
                        margin-left: 1px;

                    }

                }
                
            }

            ul {
                grid-area: meny;
                list-style-type: none;
                margin: 25px 0 30px 0;

                li {
                    float: right;
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: gray;
                        }
                    }
                }

            }

        }

        //bildespel överst på sidan
        #image {
            grid-area: "image";
            box-shadow: 0px 5px 10px gray;
        }

        main {
            grid-area: "main";
            display: grid;
            grid-template-rows: 220px 200px 400px;
            grid-template-areas: "valkomen"
                                 "Dbuffes"
                                 "event";

            #valkomen {
                grid-area: "valkomen";

                #valkomenInfo {
                    width: 300px;
                    padding: 30px;
                    padding-left: 60px;
                    float: left;

                    h1 {
                        margin-bottom: 10px;
                    }

                    p {
                        margin-left: 10px;
                    }

                }

                img {
                    width: 640px;
                    height: 180px;
                    float: right;
                    margin: 20px;
                }

            }

            #DifrentBuffes {
                grid-area: "Dbuffes";
                display: flex;
                justify-content: space-around;
                padding: 20px;
                padding: 0;
                margin: 0;
            }

            #PartyInfo {
                grid-area: "event";
                display: flex;
                justify-content: space-around;

                padding-top: 40px;

                #Info {
                    width: 50%;
                    padding: 10px;
                }

            }

            .display {
                position: relative;
                
                img {
                    box-shadow: 0px 0px 10px grey;
                }

                .textDisplay {
                    display: flex;
                    height: 25px;
                    width: 100px;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    top: 75%;
                }
            }

        }

        footer {
            grid-area: "footer";
            border: solid 1px black;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 30px;
            grid-template-areas: "kontakt message ."
                                 ". copy .";
            padding: 20px;
            padding-bottom: 0px;

            #kontakt {
                grid-area: kontakt;
                padding: 10px;

                div {
                    width: 190px;
                    margin: auto;

                    h1 {
                        font-size: 140%;
                    }
                    p, h5 {
                        margin-left: 10px;
                    }
    
                    .tider {
                        margin-left: 20px;
                    }
                }
            }

            #message {
                grid-area: message;
                padding: 10px 40px 10px 40px;

                h1 {
                    font-size: 140%;
                }

                form {

                    label {
                        margin: 0;
                        font-size: 80%;
                        color: rgb(87, 87, 87);
                        margin-left: 10px;
                    }

                    input[type=text] {
                        width: 300px;
                        margin: 5px;
                    }

                    textarea {
                        resize: none;
                    }

                    button {
                        color: white;
                        background-color: black;
                        border: none;
                        font-size: 13px;
                        padding: 20px;
                        padding: 3px;
                    }

                }

            }

            #copy {
                grid-area: copy;
                border: dotted 1px black;
                width: 100px;
                text-align: center;
                margin: auto;
                font-size: 80%;
                color: gray;
            }

        }

    }

    //färger

    .orange {
        border: solid 2px  rgb(214, 154, 34);
        background-color: rgb(254, 230, 206);
    }

    .red {
        border: solid 2px rgb(182, 85, 83);
        background-color: rgb(247, 206, 205);
    }

    .green {
        border: solid 2px  rgb(131, 178, 105);
        background-color: rgb(214, 232, 213);
    }

    .blue {
        border: solid 2px  rgb(109, 143, 189);
        background-color: rgb(219, 232, 251);
    }

}