@charset "UTF-8";
main .display {
  position: relative;
  color: black;
}

main .display a {
  color: black;
}

main .display a:focus {
  color: black;
}

main .display img {
  -webkit-box-shadow: 0px 0px 10px grey;
          box-shadow: 0px 0px 10px grey;
}

main .display:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .relativ {
  position: relative;
}

main .textDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-left: 0;
  left: 0;
  top: 75%;
}

#mainHome {
  grid-area: "main";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 220px 200px 400px;
      grid-template-rows: 220px 200px 400px;
      grid-template-areas: "valkomen" "Dbuffes" "event";
}

#mainHome #valkomen {
  grid-area: "valkomen";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mainHome #valkomen #valkomenInfo {
  width: 300px;
  padding: 30px;
  padding-left: 60px;
  float: left;
}

#mainHome #valkomen #valkomenInfo h1 {
  margin-bottom: 10px;
}

#mainHome #valkomen #valkomenInfo p {
  margin-left: 10px;
}

#mainHome #valkomen img {
  width: 640px;
  height: 180px;
  float: right;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 10px grey;
          box-shadow: 0px 0px 10px grey;
}

#mainHome #DifrentBuffes {
  grid-area: "Dbuffes";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  padding: 0;
  margin: 0;
}

#mainHome #PartyInfo {
  grid-area: "event";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
}

#mainHome #PartyInfo #Info {
  width: 50%;
  padding: 10px;
}

#mainHome #PartyInfo #Info p {
  padding: 10px;
}

#mainMat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 20px 1fr 20px;
      grid-template-rows: 20px 1fr 20px;
      grid-template-areas: ". . ." "MenyBuffer MenyRätter MenyDrinks" ". . .";
}

#mainMat label {
  font-size: 16px;
}

#mainMat .Meny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-left: dotted 1px gray;
}

#mainMat .Meny ul {
  list-style-type: none;
}

#mainMat .Meny ul h1 {
  text-align: center;
}

#mainMat .menyItem {
  margin: 0 50px 20px 50px;
  padding: 50px 0 15px 5px;
  text-align: left;
  position: relative;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-left: solid 1px;
}

#mainMat .menyItem .textDisplay {
  top: 10px;
}

#mainMat .menyItem p {
  font-size: 16px;
  padding: 4px 0 4px 0;
}

#mainMat .menyItem h5 {
  padding-top: 5px;
  font-size: 18px;
}

#mainMat .menyItem input[type=number] {
  width: 25px;
}

#mainMat .menyItem button {
  margin: 0;
  padding: 4px;
  font-weight: bold;
}

#mainMat .menyItem button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#mainMat .menyItem button:focus {
  outline: 0;
}

#mainMat #MenyBuffer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: MenyBuffer;
}

#mainMat #MenyRatter {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: MenyRätter;
}

#mainMat #MenyDrinks {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: MenyDrinks;
}

#mainMat #MenyDrinks .menyItem {
  padding-top: 0px;
  padding-bottom: 4px;
}

#mainOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 5px 0;
}

#mainOrder div {
  border: solid 1px;
  padding: 20px;
}

#mainOrder div table {
  border-collapse: collapse;
}

#mainOrder div table caption {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

#mainOrder div table th {
  text-align: left;
  border-bottom: solid 1px gray;
}

#mainOrder div table tfoot td {
  text-align: left;
  border-bottom: solid 1px gray;
  border-top: solid 1px gray;
}

#mainOrder div table td button {
  border: none;
  outline: 0;
}

#mainOrder div table td button img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#mainOrder div table td button img:active {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

#mainOrder div table .Summa {
  text-align: right;
  width: 100px;
}

#mainOrder div table .Pris {
  width: 50px;
}

#mainOrder div table .Antal {
  width: 50px;
}

#mainOrder div table .Vara {
  width: 200px;
}

#mainOrder div #infoAboutBuyer {
  margin-top: 30px;
  border: solid 1px;
}

#mainOrder div #betala {
  margin-top: 20px;
  padding: 10px;
  border-color: black;
}

#mainOrder div #betala legend {
  text-decoration: underline;
}

#mainOrder div #betala form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainOrder div #betala form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  border: none;
}

#mainOrder div #betala form input[type="number"] {
  width: 15px;
}

#mainOrder div #betala form input[type="number"]::-webkit-inner-spin-button, #mainOrder div #betala form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  outline: 0;
}

#mainOrder div #betala form input[name="CSC"] {
  width: 22px;
  overflow: hidden;
}

#mainOrder div #betala form button {
  border: none;
  background: none;
  outline: 0;
}

#mainOrder div #betala form button:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#mainOmOss #infoDisplay {
  margin: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "img info";
}

#mainOmOss #infoDisplay .display:hover {
  -webkit-transform: none;
          transform: none;
}

#mainOmOss #infoDisplay img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

#mainOmOss #infoDisplay #textInfo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: info;
  padding: 10px 50px 10px 50px;
}

#mainOmOss #infoDisplay #textInfo h1 {
  margin: 10px 0 5px 0;
  padding: 2px 5px 2px 5px;
  display: inline-block;
  font-size: 23px;
}

#mainOmOss #infoDisplay #textInfo p {
  padding-left: 15px;
}

#mainEvent #infoDisplay {
  margin: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "img info" ". info";
}

#mainEvent #infoDisplay .display {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

#mainEvent #infoDisplay .display:hover {
  -webkit-transform: none;
          transform: none;
}

#mainEvent #infoDisplay #textInfo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: info;
  padding: 10px 150px 10px 100px;
}

#mainEvent #infoDisplay #textInfo h1 {
  margin: 10px 0 5px 0;
  padding: 2px 5px 2px 5px;
  display: inline-block;
  font-size: 23px;
}

#mainEvent #infoDisplay #textInfo ul {
  margin: 10px;
  margin-left: 50px;
}

#mainEvent #infoDisplay #textInfo p {
  padding-left: 15px;
}
/*# sourceMappingURL=styleMain.css.map */