//sätter pading/ margin till 0 på alla element
* {
    padding: 0;
    margin: 0;
}
html {

    body {
        width: 1200px;
        
        margin: auto;

        border: solid 1px black;

        //jag använder grid för att placera ut alla object
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70px 180px 1fr 320px;
        grid-template-areas: "header"
                             "image"
                             "main"
                             "footer";

        //headern
        header {
            grid-area: "header";
            display: grid;
            grid-template-rows: 70px;
            grid-template-columns: 70px 225px 1fr 300px;
            grid-template-areas: "logo stars . meny";
            position: sticky;
            top: 0;
            background-color: white;

            border: solid 1px black;

            #logo {
                grid-area: logo;
                
                img {
                    margin: 10px;
                    width: 50px;
                    height: 50px;
                    border: solid 1px black;
                }
            }

            #stars {
                grid-area: stars;

                img {
                    margin: 20px 0 20px 0;
                    width: 225px;
                    height: 30px;
                    border: solid 1px black;
                }
                
            }

            ul {
                grid-area: meny;
                list-style-type: none;
                margin: 25px 0 30px 0;

                li {
                    float: right;
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: gray;
                        }
                    }
                }

            }

        }

        //bildespel överst på sidan
        #image {
            grid-area: "image";
            border: solid 1px black;
        }

        main {
            grid-area: "main";
            border: solid 1px black;
        }

        footer {
            grid-area: "footer";
            border: solid 1px black;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 30px;
            grid-template-areas: "kontakt message ."
                                 ". copy .";
            padding: 20px;
            padding-bottom: 0px;

            #kontakt {
                grid-area: kontakt;
                border: solid 1px black;
                padding: 10px;

                h1 {
                    font-size: 140%;
                }
                p, h5 {
                    margin-left: 10px;
                }

                .tider {
                    margin-left: 20px;
                }
            }

            #message {
                grid-area: message;
                border: solid 1px black;
                padding: 10px 40px 10px 40px;

                h1 {
                    font-size: 140%;
                }

                form {

                    label {
                        margin: 0;
                        font-size: 80%;
                        color: rgb(87, 87, 87);
                        margin-left: 10px;
                    }

                    input[type=text] {
                        width: 300px;
                        margin: 5px;
                    }

                    textarea {
                        resize: none;
                    }

                    button {
                        color: white;
                        background-color: black;
                        border: none;
                        font-size: 13px;
                        padding: 20px;
                        padding: 3px;
                    }

                }

            }

            #copy {
                grid-area: copy;
                border: dotted 1px black;
                width: 100px;
                text-align: center;
                margin: auto;
                font-size: 80%;
                color: gray;
            }

        }

    }

}