* {
  padding: 0;
  margin: 0;
}

html body {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 70px 180px 1fr 320px;
      grid-template-rows: 70px 180px 1fr 320px;
      grid-template-areas: "header" "image" "main" "footer";
}

html body header {
  grid-area: "header";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px;
      grid-template-rows: 70px;
  -ms-grid-columns: 70px 225px 1fr 300px;
      grid-template-columns: 70px 225px 1fr 300px;
      grid-template-areas: "logo stars . meny";
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: white;
}

html body header #logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

html body header #logo img {
  margin: 10px;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

html body header #stars {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stars;
  width: 225px;
  height: 30px;
  margin: 10px 0 10px 0;
}

html body header #stars ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html body header #stars ul li {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 1px;
}

html body header ul {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: meny;
  list-style-type: none;
  margin: 25px 0 30px 0;
}

html body header ul li {
  float: right;
  margin-right: 20px;
}

html body header ul li a {
  text-decoration: none;
  color: black;
}

html body header ul li a:hover {
  color: gray;
}

html body #image {
  grid-area: "image";
  -webkit-box-shadow: 0px 5px 10px gray;
          box-shadow: 0px 5px 10px gray;
}

html body main {
  grid-area: "main";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 220px 200px 400px;
      grid-template-rows: 220px 200px 400px;
      grid-template-areas: "valkomen" "Dbuffes" "event";
}

html body main #valkomen {
  grid-area: "valkomen";
}

html body main #valkomen #valkomenInfo {
  width: 300px;
  padding: 30px;
  padding-left: 60px;
  float: left;
}

html body main #valkomen #valkomenInfo h1 {
  margin-bottom: 10px;
}

html body main #valkomen #valkomenInfo p {
  margin-left: 10px;
}

html body main #valkomen img {
  width: 640px;
  height: 180px;
  float: right;
  margin: 20px;
}

html body main #DifrentBuffes {
  grid-area: "Dbuffes";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  padding: 0;
  margin: 0;
}

html body main #PartyInfo {
  grid-area: "event";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
}

html body main #PartyInfo #Info {
  width: 50%;
  padding: 10px;
}

html body main .display {
  position: relative;
}

html body main .display img {
  -webkit-box-shadow: 0px 0px 10px grey;
          box-shadow: 0px 0px 10px grey;
}

html body main .display .textDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 75%;
}

html body footer {
  grid-area: "footer";
  border: solid 1px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px;
      grid-template-rows: 1fr 30px;
      grid-template-areas: "kontakt message ." ". copy .";
  padding: 20px;
  padding-bottom: 0px;
}

html body footer #kontakt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: kontakt;
  padding: 10px;
}

html body footer #kontakt div {
  width: 190px;
  margin: auto;
}

html body footer #kontakt div h1 {
  font-size: 140%;
}

html body footer #kontakt div p, html body footer #kontakt div h5 {
  margin-left: 10px;
}

html body footer #kontakt div .tider {
  margin-left: 20px;
}

html body footer #message {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: message;
  padding: 10px 40px 10px 40px;
}

html body footer #message h1 {
  font-size: 140%;
}

html body footer #message form label {
  margin: 0;
  font-size: 80%;
  color: #575757;
  margin-left: 10px;
}

html body footer #message form input[type=text] {
  width: 300px;
  margin: 5px;
}

html body footer #message form textarea {
  resize: none;
}

html body footer #message form button {
  color: white;
  background-color: black;
  border: none;
  font-size: 13px;
  padding: 20px;
  padding: 3px;
}

html body footer #copy {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: copy;
  border: dotted 1px black;
  width: 100px;
  text-align: center;
  margin: auto;
  font-size: 80%;
  color: gray;
}

html .orange {
  border: solid 2px #d69a22;
  background-color: #fee6ce;
}

html .red {
  border: solid 2px #b65553;
  background-color: #f7cecd;
}

html .green {
  border: solid 2px #83b269;
  background-color: #d6e8d5;
}

html .blue {
  border: solid 2px #6d8fbd;
  background-color: #dbe8fb;
}
/*# sourceMappingURL=style.css.map */