@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* univarsielt för alla sidor */
html {
  /* denna css en kommer att vara samma på alla sidor */
  /* färg classer */
}

html body {
  width: 100%;
  margin: auto;
  /*jag använder grid för att placera ut alla object*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 70px auto 1fr 320px;
      grid-template-rows: 70px auto 1fr 320px;
      grid-template-areas: "header" "image" "main" "footer";
  /*headern överst på sidan */
  /*bildespel presic under headern */
  /*footer i borten av sidan*/
}

html body header {
  background-color: white;
  grid-area: "header";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px;
      grid-template-rows: 70px;
  -ms-grid-columns: 70px 225px 1fr 300px;
      grid-template-columns: 70px 225px 1fr 300px;
      grid-template-areas: "logo stars . meny";
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  /*hedaren ska alltid var överst*/
  top: 0;
  /*normal meny*/
  /*mobil meny*/
  /*ipad*/
  /*iphon*/
}

html body header #logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

html body header #logo img {
  margin: 10px;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 10px 2px #5e5e5e;
          box-shadow: 0px 0px 10px 2px #5e5e5e;
}

html body header #stars {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stars;
  width: 225px;
  height: 30px;
  margin: 10px 0 10px 0;
}

html body header #stars ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html body header #stars ul li {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 1px;
}

html body header #meny {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: meny;
  list-style-type: none;
  margin: 25px 0 30px 0;
}

html body header #meny li {
  float: right;
  margin-right: 20px;
}

html body header #meny li a {
  text-decoration: none;
  color: black;
}

html body header #meny li a:hover {
  color: gray;
}

html body header #dropDown, html body header #ddcontent {
  display: none;
}

@media only screen and (max-width: 768px) {
  html body header {
    -ms-grid-columns: 70px 1fr 300px;
        grid-template-columns: 70px 1fr 300px;
        grid-template-areas: "logo . meny";
  }
  html body header #stars {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  html body header {
    -ms-grid-columns: 70px 1fr 30px;
        grid-template-columns: 70px 1fr 30px;
        grid-template-areas: "logo . ddown";
    /*tar bort den vanliga menyn*/
    /*mobil menyn*/
  }
  html body header #meny {
    display: none;
  }
  html body header #dropDown {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: ddown;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    height: 20px;
    width: 20px;
  }
  html body header #ddcontent {
    position: absolute;
    left: -45px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
  }
  html body header #ddcontent ul {
    margin: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding: 4px;
  }
  html body header #ddcontent li {
    margin: 3px;
  }
  html body header #ddcontent a {
    border-bottom: solid 1px;
    background-color: azure;
    text-decoration: none;
    color: black;
  }
  html body header #dropDown:hover #ddcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html body #image {
  grid-area: "image";
}

html body #image img {
  -webkit-box-shadow: 0px 5px 10px gray;
          box-shadow: 0px 5px 10px gray;
  width: 100vw;
}

html body footer {
  grid-area: "footer";
  border-top: double 4px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px;
      grid-template-rows: 1fr 30px;
      grid-template-areas: "kontakt message ." ". copy .";
  padding: 20px;
  padding-bottom: 0px;
  /*ipad*/
  /*iphon*/
}

html body footer #kontakt {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: kontakt;
  padding: 10px;
}

html body footer #kontakt div {
  width: 190px;
  margin: auto;
}

html body footer #kontakt div h1 {
  font-size: 140%;
}

html body footer #kontakt div p, html body footer #kontakt div h5 {
  margin-left: 10px;
}

html body footer #kontakt div .tider {
  margin-left: 20px;
}

html body footer #message {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: message;
  padding: 10px 40px 10px 40px;
}

html body footer #message h1 {
  font-size: 140%;
}

html body footer #message form label {
  margin: 0;
  font-size: 80%;
  color: #575757;
  margin-left: 10px;
}

html body footer #message form input[type=text] {
  width: 300px;
  margin: 5px;
}

html body footer #message form textarea {
  resize: none;
}

html body footer #message form button {
  color: white;
  background-color: black;
  border: none;
  font-size: 13px;
  padding: 20px;
  padding: 3px;
}

html body footer #copy {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: copy;
  border: dotted 1px black;
  width: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  font-size: 80%;
  color: gray;
}

html body footer #copy a {
  color: gray;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  html body footer {
    -ms-grid-columns: 1fr 125px 1fr;
        grid-template-columns: 1fr 125px 1fr;
        grid-template-areas: "kontakt . message" ". copy .";
  }
}

@media only screen and (max-width: 375px) {
  html body footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "kontakt" "copy";
  }
  html body footer #message {
    display: none;
  }
}

html .orange {
  border: solid 2px #d69a22;
  background-color: #fee6ce;
}

html .red {
  border: solid 2px #b65553;
  background-color: #f7cecd;
}

html .green {
  border: solid 2px #83b269;
  background-color: #d6e8d5;
}

html .blue {
  border: solid 2px #6d8fbd;
  background-color: #dbe8fb;
}
/*# sourceMappingURL=style.css.map */