main#mainEvent
    #infoDisplay
        //image display
        div(class="display")
            img(src="images/Event2.jpg" width="100%" hight="100%")
            div(class="textDisplay green")
                p Event
        //text info
        #textInfo
            h1(class="red") Event
            p.
                Skall du ha ett event hemma eller på företaget så kanske du behöver mer av porslin, glas, 
                bestick, tält, dekoration, allt du behöver för festen. Allt ni behöver erbjuder vi.
            
            ul
                li  Mat
                li Dryck
                li Personal
                li Kockar
                li Tält
                li Porslin
                li Tält
                li Golv
                li Lampor
                li Matta
                li Bord
                li Stolar
                li Glas i alla dess former
                li Tallrikar
                li Bestick
                li Linne
                li Dekoration
            p.
                Vi har lösningar för alla event, vi bygger upp och kan även stanna för att ta hand om eventet för er.
                Kontakta oss för att få prisuppgifter för ditt event. Vi bokar gärna ett möte så vi kan diskutera era 
                förväntningar av ert kommane arrangemang.
                För mer info så maila oss på info@test.se eller ring oss på 070-000 11 33.