main#mainHome
    #valkomen
        #valkomenInfo
            h1 Välkommen
            p.
                välkomen till [företags namn] Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
        img(src="images/Welcome.jpg" width="100%" hight="100%")
    #DifrentBuffes
        - var Buffes = [ {name: "buffe", color: "orange", src: "images/buffe1.jpg"}, {name: "salads buffe", color: "red", src: "images/buffe3.jpg"}, {name: "vego buffe", color: "green", src: "images/buffe2.jpg"}, {name: "oxe", color: "blue", src: "images/rett1.jpg"} ];
        - for(var i = 0; i < 4; i++)
            .display
                a(href="Mat.html")
                    img(src=Buffes[i].src width="100%")
                    div(class=Buffes[i].color + ' textDisplay')
                        p=Buffes[i].name
    #PartyInfo
        .display
            a(href="Event.html")
                img(src="images/party.jpg")
                div(class="blue textDisplay")
                    p Event
        #Info
            h1 Fest? Vi fixar!
            p.
                Små eller stora event spelar ingen roll! Vi hjälper er hela vägen till ett lyckat arrangemang. Vi ordnar allt från mat och dryck till personal, kockar på plats, porslin, glas, is, kandelabrar, möbler, linne och transporter.Kontakta oss så berättar vi mer!