main#mainMat

    //buffe meny alla buffer man kan beställa
    #MenyBuffer(class="Meny")
        h1 Buffé
        ul
            li.menyItem(v-for="item in BuffeList")
                div(class="textDisplay " v-bind:class="item.color")
                    p {{ item.name }}
                p {{ item.about }}
                p(v-html="item.have")
                h5 {{ item.prisePers }}kr/pars
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput1' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg

    #MenyRatter(class="Meny")
        h1 Rätter
        //kötträtter
        h3 kött
        ul
            li.menyItem(v-for="item in RettList" v-if="item.type == 1")
                div(class="textDisplay " v-bind:class="[item.color]")
                    p {{ item.name }}
                h5  {{ item.prisePers }}kr/pers
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput2' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg

        //fisk
        h3 fisk
        ul
            li.menyItem(v-for="item in RettList" v-if="item.type == 2")
                div(class="textDisplay " v-bind:class="[item.color]")
                    p {{ item.name }}
                h5  {{ item.prisePers }}kr/pers
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput2' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg

        //vegitariskt
        h3 vego
        ul
            li.menyItem(v-for="item in RettList" v-if="item.type == 3")
                div(class="textDisplay " v-bind:class="[item.color]")
                    p {{ item.name }}
                h5  {{ item.prisePers }}kr/pers
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput2' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg

        //sallader
        h3 sallader
        ul
            li.menyItem(v-for="item in RettList" v-if="item.type == 4")
                div(class="textDisplay " v-bind:class="[item.color]")
                    p {{ item.name }}
                h5  {{ item.prisePers }}kr/pers
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput2' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg

        //tillbehör
        h3 tillbehör
        ul
            li.menyItem(v-for="item in RettList" v-if="item.type == 5")
                div(class="textDisplay " v-bind:class="[item.color]")
                    p {{ item.name }}
                h5  {{ item.prisePers }}kr/pers
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput2' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg

    #MenyDrinks(class="Meny")
        h1 Dryck
        
        //alla okilka katogorier av drycker
        //vindrycker
        h3 vin
        ul
            li.menyItem(v-for="item in DryckList" v-if="item.type == 2")
                p {{ item.name }} {{ item.prisePers }}kr/{{ item.endelse }}
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput3' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg
        //öl 
        h3 öl
        ul
            li.menyItem(v-for="item in DryckList" v-if="item.type == 1")
                p {{ item.name }} {{ item.prisePers }}kr/{{ item.endelse }}
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput3' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg
        //alkoholfria drycker
        h3 alkohlfritt
        ul
            li.menyItem(v-for="item in DryckList" v-if="item.type == 3")
                p {{ item.name }} {{ item.prisePers }}kr/{{ item.endelse }}
                label(for="antal") antal
                input(type="number" name="antal" value="0" min="0" v-bind:class="[item.color, 'numberInput3' + item.id]")
                button(v-bind:class="item.color" v-on:click="add(item.id)") Lägg till i kundkorg


    script.
        var Buffe = new Vue({
            el: "#MenyBuffer",
            data: {
                BuffeList
            },
            methods: {
                add: function(id) {
                    addOrder(id, 1);
                }
            },
        });

        var Rett = new Vue({
            el: "#MenyRatter",
            data: {
                RettList
            },
            methods: {
                add: function(id) {
                    addOrder(id, 2);
                }
            }
        });

        var Dryck = new Vue({
            el: "#MenyDrinks",
            data: {
                DryckList
            },
            methods: {
                add: function(id) {
                    addOrder(id, 3);
                }
            }
        });
