main#mainOmOss
    #infoDisplay
        div(class="display")
            img(src="images/Event.jpg" width="100%" hight="100%")
            div(class="textDisplay green")
                p Om Oss
        #textInfo
            h1(class="green") Om Oss
            h3 vår historia
            p.
                välkomen till [företags namn] Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.välkomen till [företags namn] Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
            
            h3 framtiden
            p.
                välkomen till [företags namn] Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.älkomen till [företags namn] Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.