main#mainOrder
    #order
        //tabbel som visar vad som finns i kundkorg
        table
            caption.red Varukorg
            thead
                tr
                    th
                    th.Vara Vara
                    th.Antal Antal
                    th.Pris Pris
                    th.Summa summa
            tbody
                //genererar tabbelen med alla produkter du har lagt i kundkorgen
                tr(v-for="item in orders")
                    td 
                        button(v-on:click="Delete(item.id)")
                            img(src="images/del.png" width="16px" hight="16px")
                    td.Vara {{ item.name }}
                    td.Antal {{ item.antalPers }}
                    td.Pris {{ item.prise }}
                    td.Summa {{ item.totalPrise }}
            tfoot
                tr
                    td
                    td
                    td
                    td
                    td.Summa Totalpris: {{ TotalPris() }}kr

        //hur man hämtar produkten
        #transport 
            form 
                #leverans
                    //H = hemta i butik L = leverans till addres
                    input(type="radio" name="tran" value="H" checked) 
                    span Hämta på plats:
                    br
                    input(type="radio" name="tran" value="L") 
                    span Hemkörning, 150/kr
                #addres
                    label(for="addres") Address:
                    input(type="text" name="addres" id="add")
                    br
                    label(for="postcod") Post Code:
                    input(type="text" name="postcod" id="post")

        //betalnig
        fieldset#betala
            legend KortBetalning
            form
                div
                    label(for="korttyp") Kort typ: 
                    select(name="korttyp")
                        option(value="Mastercard") Mastercard
                        option(value="Mastro") Mastro
                        option(value="Visa") Visa
                div
                    label(for="kortnummer") Kortnummer:
                    input(type="text" name="kortnummer" id="kortnummer")
                div
                    label(for="datum") Datum:
                    input(type="number" name="moth" max="99" min="00" id="moth") 
                    label(for="year") /
                    input(type="number" name="year" max="99" min="00" id="year")
                div
                    label(for="CVI") CVI: 
                    input(type="number" name="CVI" max="999" min="000" id="CVC")
                button(onclick="buy();")
                    img(src="images/shopping-cart.png" width="16" hight="16")

    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script.

        //tack vare Vue kan jag uppdatera tabbelen med produkter automatiskt utan att behöva uppdatera sidan
        var app = new Vue({
            el: "#mainOrder",
            data: {
                orders: JSON.parse(window.localStorage.getItem("Orders")), // hemtar kundkorgen i från localstorage
                prisePlus: 0 //om mna har övriga kostnader som till exempel frakt
            },
            methods: {
                TotalPris: function() { //beräknar det totala priset
                    if(this.orders != null) {
                        var total = this.prisePlus;
                        for(var i = 0; i < this.orders.length; i++) {
                            total += this.orders[i].totalPrise;
                        }
                        return total.toString();
                    }
                    return this.prisePlus;
                },
                Delete: function(id) { // raderar ett item i från kundkorgen
                    //tar bort den ordern med det specifika id
                    for(var i = 0; i < this.orders.length; i++) {
                        if(this.orders[i].id == id) {
                            this.orders.splice(id, 1);

                            //gåt i genom alla ordrar och uppdeterar deras id
                            for(var i = 0; i < this.orders.length; i++) {
                                this.orders[i].id = i;
                            }

                            window.localStorage.setItem("Orders", JSON.stringify(this.orders));

                            return;
                        }
                    }
                }
            }
        });

        //öpnar stänger addres menyn 
        $("input[name='tran']").click(function(){
            if(this.value === 'L') {
                $("#addres").show();
                app.prisePlus = 150;
            }
            else {
                $("#addres").hide();
                app.prisePlus = 0;
            }
        });