footer
    //kontakta mig
    #kontakt
        div
            h1 Kontakt uppgifter
            p address: Nygard 354
            p post nummer: 30591 Halmstad
            h3 tel:
            p 070-000 11 33
            h5 teltider
            p.tider mån-lör 8-18
            p.tider sön stängt
    //skicka ett mail till min skol mail
    #message
        h1 Skicka ett medelande
        form(method="post" action="php/formmail.php")
            label(for="email") från
            br
            input(type="text" name="email" placeholder="test@yahoo.com")
            br
            label(for="subject") ämne
            br
            input(type="text" name="subject") 
            br
            textarea(name="message", cols="50", rows="7")
            br
            button(type="submit") skicka
    //copyrit
    p#copy ©philip johansson 
        // länk till sorce koden på git hub
        a(href="https://github.com/mutari/WEBWEB1slutprodject" target="_blank") GitHub