header 
    #logo
        a(href="index.html")
            img
    #stars
        ul
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/starEmpty.png")
    ul#meny
        li: a(href="Order.html") 
                img(src="images/shopping-cart.png" width="16px" hight="16px")
        li: a(href="OmOss.html") Om oss
        li: a(href="Event.html") Event
        li: a(href="Mat.html") Mat
    #dropDown
        span
            img(src="images/Tab.png" width="100%" hight="100%")
        #ddcontent 
            ul
                li: a(href="Order.html") 
                        img(src="images/shopping-cart.png" width="16px" hight="16px")
                li: a(href="OmOss.html") Om oss
                li: a(href="Event.html") Event
                li: a(href="Mat.html") Mat