header 
    #logo
        a(href="index.html")
            img
    #stars
        ul
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/star.png")
            li: img(src="images/starEmpty.png")
    ul
        li: a(href="Order.html") 
                img(src="images/shopping-cart.png" width="16px" hight="16px")
        li: a(href="OmOss.html") Om oss
        li: a(href="Event.html") Event
        li: a(href="Mat.html") Mat