title catering

link(rel="stylesheet" href="/fileCSS/style.css")
link(rel="stylesheet" href="/fileCSS/styleMain.css")
//link(rel="stylesheet" href="../style/style.css")
//link(rel="stylesheet" href="../style/styleMain.css")
script(src="/fileJS/javascript/DataList.js")
script(src="/fileJS/javascript/order.js")
//script(src="../javascript/DataList.js")
//script(src="../javascript/order.js")
script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")