main#mainMat
    //-meny data
    -
        var BuffeList = 
            [ 
                {
                    name: "Grill Buffe", 
                    about: "Denna buffe består av blandane grillade rätter.",
                    have: "kykling spätt lätt grilade<br>oxfele(väljs själv hur grilad)<br>potatis gratäng<br>bea", 
                    prisePers: 220,
                    maxPers: 25
                },
                {
                    name: "Vego Buffe", 
                    about: "Denna buffen är perfekt för vegitarianen.",
                    have: "grönsaker<br>falafel<br>bönsalad<br>vock<br>", 
                    prisePers: 150,
                    maxPers: 40
                }
            ];
    //buffe meny alla buffer man kan beställa
    #MenyBuffer(class="Meny")
        h1 Buffeer
            each item in BuffeList
                .menyItem
                    div(class="green textDisplay")
                        p=item.name
                    p=item.about
                    p!=item.have
                    h5=item.prisePers + "/pars  max:" + item.maxPers
    
    #MenyRatter(class="Meny")
        h1 Rätter

    #MenyDrinks(class="Meny")
        h1 Drika
